<div class="w3-card-4 w3-margin w3-white">
  <img src="https://i.pinimg.com/originals/4c/43/a7/4c43a7f4defe6f95272698db1b871e3c.jpg" alt="Nature" style="border-radius: 30px;
    width:50%">
  <div class="w3-container">
    <h3 class="my-2"><b>Mohamed Alabasy</b></h3>
    <h5>Title description, <span class="w3-opacity">April 7, 2022</span></h5>
  </div>

  <div class="w3-container">
    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat.
      Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper.
      Praesent tincidunt sed
      tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
    </p>
  </div>
</div>
<hr>
